/* COMMON & SETTINGS */
[class*="col-"] {
  text-align: center;
  line-height: 300px;
}

html, body {
  overflow-x: hidden;
}

.green-bg {
  background-color: #1abc9c;
}

.text-center {
  text-align: center;
}

.padding {
  padding: 15px;
}

.padding-bottom-50 {
  padding: 15px 0 50px 0;
}

.margin-bottom {
  margin-bottom: 50px;
}

.margin-top {
  margin-top: 100px;
}

.margin-top-30 {
  margin-bottom: 30px;
}

.color-white {
  color: #fff;
}

.star {
  font-size: 30px;
  padding: 20px;
}

.no-lh {
  line-height: 40px;
  font-weight: bold;
  font-size: 20px;
}

.lh-footer {
  line-height: 30px;
}

.star::before,
.star::after {
  content: "";
  display: inline-block;
  width: 120px;
  height: 4px;
  border-radius: 2px;
  vertical-align: middle;
}

.star-white::before,
.star-white::after {
  background: #fff;
}

.star-dark::before,
.star-dark::after {
  background: #2C3E50;
}

.input-border {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #ccc;
}

.bg-footer {
  background-color: #3A546D;
}

.margin-0 {
  margin: 0;
  border: none;
}

.padding-0 {
  padding: 0;
}
/* /COMMON & SETTINGS */

/* HEADER */
.bl-navbar {
  background-color: #2c3e50;
  color: #fff;
}

.bl-navbar .navbar-brand, .bl-navbar .navbar-nav>li>a {
  color: #fff;
}

.jumbotron img {
  height: 200px;
}

.nav-bg-color {
  background-color: #2c3e50;
  padding: 0;
}

.navbar-brand {
  line-height: 80px;
  padding-left: 15px;
}

nav ul>li {
  display: inline-block;
  line-height: 80px;
  float: right;
  padding-right: 30px;
  font-size: 25px;
}
/* /HEADER */

/* MAIN */
.portfolio img {
  height: 250px;
  border-radius: 15px;
}

.about p {
  font-weight: bold;
}

.button-about {
  border: 1px solid #fff;
  margin-bottom: 100px
}

input {
  display: block;
  width: 100%;
}

/* FOOTER */
footer ul {
  padding: 0;
}

#footer-list > li {
  display: inline-block;
  font-size: 30px;
  padding: 10px;
}

li > i {
  background-color: #3a546d;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 10px;
  height: 55px;
  width: 55px;
}

.footer-p {
  font-size: 23px;
  margin-top: 20px;
}

.footer-p > span {
  color: #1abc9c;
}

.footer-bg-dark {
  background-color: #2C3E50;
}

.copyright {
  padding: 60px;
  font-size: 18px;
}
/* /FOOTER */
